


# ======================================================================================================================
# EDITORS
# ----------------------------------------------------------------------------------------------------------------------
# Exclude any IDE/Editor files and/or folders that you do not want included in your git repository.
#
# NOTES:
# - I use JetBrain's PhpStorm, so I have included my preferred settings below.
# - Feel free to include any of your own here!
# ======================================================================================================================
!.idea/
.idea/*
!.idea/dictionaries/
!.idea/runConfigurations/
!.idea/deployment.xml
!.idea/webServers.xml


vendor/