<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <style>{% include "styles.css" %}</style>
</head>
<body>
    <h1>{{ title }}</h1>
    {% block message %}{% endblock %}

    {% if debug %}
        {% block content %}{% endblock %}
    {% endif %}

    <a href="{{ script }}">Home</a>
</body>
</html>
